:root {
    --white: #fff;
    --black: #000;
    --logo--black : #151515;
    --title: #222222;
    --footer--back: #FAF6ED;
    --footer-p: #5F5F5F;
    --line: #D3D3D3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

header {
    height: 100vh;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 10%);
}

.header_container {
    display: flex;
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 15px 0;
}

.logo a {
    font-family: 'Leckerli One', cursive;
    font-size: 4.8rem;
    color: var(--logo--black);
    text-decoration: none;
}

.nav_list {
    display: flex;
    gap: 55px;
}

.nav_list li {
    list-style: none;
    position: relative;
}

.nav_list li a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--logo--black);
    font-size: 1.8rem;
}

.nav_list li a::after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    bottom: -5px;
    height: 3px;
    background: #e55472;
    transition: .5s;
}

.nav_list li a:hover::after {
    width: 100%;
}

.nav_list li a:hover {
    color: #e55472;
}

.header_icons_container {
    display: flex;
    align-items: center;
}

.user_icon {
    margin-left: 26px;
    font-size: 1.8rem;
    cursor: pointer;
}

.bag_icon {
    margin-left: 26px;
    font-size: 1.8rem;
    cursor: pointer;
}

.input_icon {
    border-radius: 4px;
    width: 186px;
    height: 31px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.input_icon input {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #9b9b9b;
    margin-left: 3px;
    outline: none;
    font-size: 1.6rem;
    width: 85%;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--black);
}

.input_icon i {
    color: var(--black);
    font-size: 1.6rem;
    margin-right: 5px;
}

.header_background_image {
    background: url('/static/images/head_image.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
}

.header_background_content {
    max-width: 860px;
    margin: 0 auto;
    padding-top: 50vh;
}

.head_slogan {
    font-family: 'Bona Nova';
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 125%;
    letter-spacing: 0.64em;
    color: var(--white);
}


/* main section */

.grid_container {
    max-width: 1172px;
    margin: 68px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
    gap: 44px 68px;
}

.grid_box {
    min-width: 242px;
}

.grid_box img {
    width: 100%;
}

.title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 16px;
    color: var(--title);
    margin-top: 17px;
    margin-bottom: 8px;
}

.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 16px;
    color: var(--title);
}

.select_size {
    margin: 17px 0;
}


.select_size select {
    width: 100%;
    border: 0.5px solid #E2E2E2;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
    outline: none;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 26px;
    padding: 5px 16px 5px 10px;
    background: var(--title);
    box-shadow: 0px 1px 4px rgba(56, 57, 67, 0.25);
    cursor: pointer;
}

.add_to_card {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 16px;
    color: var(--white);
    margin-left: 14px;
}


/* footer */

footer {
    background-color: var(--footer--back);
    padding-top: 44px;
    padding-bottom: 44px;
}

.aboutUs_information {
    max-width: 1224px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.aboutUs,
.information {
    width: 491px;
    position: relative;
}

.aboutUs h4 {
    font-family: 'Josefin Sans';
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
    color: var(--title);
    margin-bottom: 36px;
}

.information h4 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
    color: var(--title);
    
}

.aboutUs p {
    font-family: 'Josefin Sans';
    text-align: center;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--footer-p);
}

.information p {
    font-family: 'Josefin Sans';
    width: 256px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 22px;
    color: var(--footer-p);
    margin-top: 44px;
}

.information p::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 352px;
    top: -44px;
    left: -121px;
    background-color: var(--line);
}
