{% extends 'base.html' %} 
{% block title %} 
Contact
{% endblock %} 

{% block css %} 
{% load static %}
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %} 

{% block header %}
<header>
	<div class="header_container">
		<a href="{% url 'index' %}"><img src="/static/images/tailor.jpg" alt=""></a>
		<nav>
			<ul class="nav_list">
				<li><a href="{% url 'index' %}">ƏSAS SƏHİFƏ</a></li>
				<li><a href="{% url 'index' %}">MƏHSULLAR</a></li>
				<li><a href="#about">HAQQIMIZDA</a></li>
				<li><a href="{% url 'contact' %}">BİZİMLƏ ƏLAQƏ</a></li>
			</ul>
		</nav>
		<div class="header_icons_container">
			<div class="input_icon">
				
				<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M11.5 19.5C15.9183 19.5 19.5 15.9183 19.5 11.5C19.5 7.08172 15.9183 3.5 11.5 3.5C7.08172 3.5 3.5 7.08172 3.5 11.5C3.5 15.9183 7.08172 19.5 11.5 19.5Z"
						stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M21.5 21.5L17.15 17.15" stroke="black" stroke-width="2" stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>

				<input type="text" placeholder="Search for items...">
			</div>
			{% if request.user.is_authenticated %} 
			<a href="{% url 'logout' %}">
			<svg class="user_icon"  width="25" height="25" viewBox="0 0 25 25" fill="none"
				xmlns="http://www.w3.org/2000/svg"> 
				<path
					d="M20.5 21.5V19.5C20.5 18.4391 20.0786 17.4217 19.3284 16.6716C18.5783 15.9214 17.5609 15.5 16.5 15.5H8.5C7.43913 15.5 6.42172 15.9214 5.67157 16.6716C4.92143 17.4217 4.5 18.4391 4.5 19.5V21.5"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				<path
					d="M12.5 11.5C14.7091 11.5 16.5 9.70914 16.5 7.5C16.5 5.29086 14.7091 3.5 12.5 3.5C10.2909 3.5 8.5 5.29086 8.5 7.5C8.5 9.70914 10.2909 11.5 12.5 11.5Z"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
			</a>
			{% else %}
			<a href="{% url 'login' %}">
			<svg class="user_icon"  width="25" height="25" viewBox="0 0 25 25" fill="none"
				xmlns="http://www.w3.org/2000/svg"> 
				<path
					d="M20.5 21.5V19.5C20.5 18.4391 20.0786 17.4217 19.3284 16.6716C18.5783 15.9214 17.5609 15.5 16.5 15.5H8.5C7.43913 15.5 6.42172 15.9214 5.67157 16.6716C4.92143 17.4217 4.5 18.4391 4.5 19.5V21.5"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				<path
					d="M12.5 11.5C14.7091 11.5 16.5 9.70914 16.5 7.5C16.5 5.29086 14.7091 3.5 12.5 3.5C10.2909 3.5 8.5 5.29086 8.5 7.5C8.5 9.70914 10.2909 11.5 12.5 11.5Z"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
			</a>
			{% endif %} 
			{% if request.user.is_authenticated %}
			<a href="{% url 'mybasket' %}">
			<svg class="bag_icon" width="25" height="25" viewBox="0 0 25 25" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M6.5 2.5L3.5 6.5V20.5C3.5 21.0304 3.71071 21.5391 4.08579 21.9142C4.46086 22.2893 4.96957 22.5 5.5 22.5H19.5C20.0304 22.5 20.5391 22.2893 20.9142 21.9142C21.2893 21.5391 21.5 21.0304 21.5 20.5V6.5L18.5 2.5H6.5Z"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M3.5 6.5H21.5" stroke="black" stroke-width="2" stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M16.5 10.5C16.5 11.5609 16.0786 12.5783 15.3284 13.3284C14.5783 14.0786 13.5609 14.5 12.5 14.5C11.4391 14.5 10.4217 14.0786 9.67157 13.3284C8.92143 12.5783 8.5 11.5609 8.5 10.5"
					stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
			</a>
			{% endif %}
		</div>
	</div>
	<div class="header_background_image">
		<div class="header_background_content">
			<h1 class="head_slogan">Zərif və güclü</h1>
		</div>
	</div>
</header>
{% endblock %}
{% block content %}
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Contact Form </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="wrapper img" style="background-image: url('/static/images/img.jpg');">
						<div class="row">
							<div class="col-md-9 col-lg-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Get in touch with us</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Surname</label>
													<input type="text" class="form-control" name="surname" id="name" placeholder="Surname">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Telephone</label>
													<input type="text" class="form-control" name="telephone" id="name" placeholder="Telephone">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</body>
{% endblock %} 


{% block javascript %} 
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
{% endblock %}


