{% extends 'base.html' %} 

{% block title %} 
Signup
{% endblock %} 

{% block css %} 
{% load static %}
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %} 




{% block content %}
		<div class="wrapper" style="background-image: url('/static/images/bg-registration-form-1.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="/static/images/registration-form-1.jpg" alt="">
				</div>
				<form method="POST">
					{% csrf_token %}
					<h3>Registration Form</h3>
					<div class="form-wrapper">
						<input type="text" name="username" placeholder="Username" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" name="password" placeholder="Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<p class="text-body-secondary"><a class="btn btn-danger" href="{% url 'login'  %}">Login</a> </p>
					<button>Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
{% endblock %}
